.main {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 40px 120px;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

@media (max-width: 800px) {
  .main {
    padding: 0 24px 80px;
    gap: 64px;
  }
}
