.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.svg {
  width: 100%;
  max-width: 520px;
  height: auto;
}

@media (max-width: 800px) {
  .svg {
    max-width: 360px;
  }
}
